{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Iniciar Sesión</h2>
            <hr>
            
            <form method="POST">
                {{ form.hidden_tag() }}
                
                {% for field in form %}
                    {% if field.type != 'CSRFToken' and field.type != 'SubmitField' %}
                        {{ wtf.form_field(field) }}
                    {% endif %}
                {% endfor %}

                {{ wtf.form_field(form.submit, class='btn btn-primary') }}
            </form>
            
        </div>
    </div>
{% endblock %}